#map {
    width: 630;
    height: 630;
    background-color: coral;
    border: 12px ridge wheat;
    margin-left: auto;
    margin-right: auto;
}

.block {
    width: 210;
    height: 210;
    border: 3px solid whitesmoke;
    display: inline-block;
    position: absolute;
    /* background-image: url('images/tac.png');
    background-position: center; */
}